{% load static %}
{% load i18n %}
{% load persian_translate_tags %}
{% load jalali_tags %}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head> <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static "img/icon.png" %}">

    <!-- ************************* CSS Files ************************* -->

    <link rel="stylesheet" href="{% static "css/_base.css" %}">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static "css/vendor.css" %}">

    <!-- style css -->
    <link rel="stylesheet" href=" {% static "css/main.css" %}">


    <title> {% block title %} {% endblock %}</title>
    {% block style %} {% endblock %}


</head>

<body dir='rtl'>
<!-- Preloader Start -->
<div class="ShoppingYar-preloader active">
    <div class="ShoppingYar-preloader-inner h-100 d-flex align-items-center justify-content-center">
        <div class="ShoppingYar-child ShoppingYar-bounce1"></div>
        <div class="ShoppingYar-child ShoppingYar-bounce2"></div>
        <div class="ShoppingYar-child zuka-bounce3"></div>
    </div>
</div>
<!-- Preloader End -->

<!-- Main Wrapper Start -->
<div class="wrapper">
    <!-- Header Start -->
    <header class="header">
        <div class="header-inner fixed-header">

            <div class="container">

                <div class="d-flex">
                    <div class="d-flex">

                        <div style="font-size:small;display: flex; justify-content: space-between;"
                             class=" p-2 text-sm-left mb--15">
                            {% if user.is_authenticated %}
                                <p style="font-size:small;float: right;text-align: right"> {{ user.first_name }} {{ user.last_name }}
                                    عزیز خوش آمدید </p>
                            {% else %}
                                <p style="font-size:small;float: right;text-align: right"> کاربر مهمان
                                    عزیز خوش آمدید </p>
                            {% endif %}
                        </div>
                    </div>
                    <div style="font-size:small" class=" mr-auto p-2">
                        {% jalali_now '%Y/%m/%d -  %H:%M'|translate_number %}
                    </div>
                </div>
                {% if messages %}
                    <div class="container">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}

                    </div>
                {% endif %}

                <div class="row align-items-center">
                    <div class="col-xl-9 col-lg-8 col-5 col-xs-0 col-none col-sm-block p-0">
                        <nav class="main-navigation">
                            <div class="site-branding">
                                <a href="{% url "home" %}" class="logo">
                                    <figure class="logo--normal d-none d-sm-block">
                                        <img class="px-6" src="{% static "img/sss.png" %}"
                                             style="max-height: 50px" alt="Logo">
                                    </figure>
                                </a>
                            </div>
                            <div class="mainmenu-nav d-none d-lg-block w-100 pr-3">
                                <ul class="mainmenu d-lg-flex jusity-content-end jusity-content-lg-start pt-4">
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="{% url "home" %}" class="mainmenu__link">
                                            <span class="mm-text btn btn-small">صفحه اصلی </span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="{% url "products" %}" class="mainmenu__link">
                                            <span class="mm-text btn btn-small">فروشگاه</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="{% url "aboutus" %}" class="mainmenu__link">
                                            <span class="mm-text btn btn-small"> درباره ما </span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item">
                                        <a href="{% url "contactus" %}" class="mainmenu__link">
                                            <span class="mm-text btn btn-small"> تماس با ما </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-7 col-12 p-0">
                        <ul class="header-toolbar">
                            <li class="header-toolbar__item ml--15">
                                <a href="{% url 'view_wishlist' %}" class="header-toolbar__btn mini-cart-btn mx-4">
                                    <i class="flaticon flaticon-like"></i>
                                    <sup class="mini-cart-count">{{ wishlist_count|translate_number }}</sup>
                                </a>
                            </li>
                            <li class="header-toolbar__item mini-cart-item">
                                <a href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                    <i class="flaticon flaticon-shopping-cart"></i>
                                    <sup class="mini-cart-count">{{ cart|length|translate_number }}</sup>
                                </a>
                            </li>
                            <li class="header-toolbar__item">
                                <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                    <i class="flaticon flaticon-search"></i>
                                </a>
                            </li>
                            <li class="header-toolbar__item user-info ">
                                <a href="#" class="header-toolbar__btn">
                                    <i class="flaticon flaticon-user"></i>
                                </a>
                                <ul class="user-info-menu">
                                    {% if user.is_authenticated %}
                                        <li>
                                            <a class="text-right"
                                               href="{% url 'account_logout' %}">{% trans 'Logout' %}</a>
                                        </li>
                                        <li>
                                            <a class="text-right" href="{% url 'profile' %}">{% trans 'Profile' %}</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a class="text-right"
                                               href="{% url 'account_login' %}">{% trans 'Login' %}</a>
                                        </li>
                                        <li>
                                            <a class="text-right"
                                               href="{% url 'account_signup' %}">{% trans 'Signup' %}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mobile-menu"></div>
                                    </div>
                                </div>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- Header End -->




    {% block content %}
    {% endblock %}
    <!-- Footer Start-->
    <footer class="footer">
        <div class="footer-top bg-color ptb--50" data-bg-color="#f6f6f6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 text-center">
                        <div class="footer-widget mb--50">
                            <div class="textwidget">
                                <img src=" {% static "img/sss.png" %}" alt="Logo">
                            </div>
                        </div>
                        <div class="footer-widget mb--50 pb--1">
                            <ul class="footer-menu">
                                <li><a href="{% url "aboutus" %}">درباره ما</a></li>
                                <li><a href=>قوانین و مقررات</a></li>
                                <li><a href="{% url "contactus" %}">تماس با ما</a></li>
                            </ul>
                        </div>
                        <div class="footer-widget">
                            Codingyar.com © | all rights reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End-->

    <!-- Search form Popup Start -->
    <div class="searchform__popup" id="searchForm">
        <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
        <div class="searchform__body">
            <p>در باکس زیر عبارت خود را وارد کنید</p>
            <form class="searchform">
                <input type="text" name="popup-search" id="popup-search" class="searchform__input"
                       placeholder="جستجو در بین محصولات...">
                <button type="submit" class="searchform__submit"><i class="flaticon flaticon-magnifying-glass-icon"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- Search form Popup End -->


    <!-- Global Overlay Start -->
    <div class="ShoppingYar-global-overlay"></div>
    <!-- Global Overlay End -->

</div>
<!-- Main Wrapper End -->

<!-- Mini Cart  -->
{% include "cart/cart_slidebar.html" %}

<!-- ************************* JS Files ************************* -->

<!-- jQuery JS -->
<script src="{% static "js/vendor.js" %}"></script>

<!-- Main JS -->
<script src="{% static "js/main.js" %}"></script>

</body>
</html>
