{% load static %}
{% load i18n %}


<!-- Breadcrumb area Start -->
<div style="height: 100px" class="breadcrumb-area bg-color ptb--20" data-bg-color="#f6f6f6">
    <div class="container">
        <div class="row">
            <div class="col-12">
                 <div class='text-center border rounded px-4 pt-4 pb-3 shadow'>

                          <h2 class="page-title">{{ header_name }}</h2>

    </div>
{#                <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column ">#}
{#                    <h1 class="page-title">{{ header_name }}</h1>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area End -->
